doctype html
html
  head
    include ./_partial/head
  body
    .add-url-box
      .container.pt50
        form(id="", method="POST", action="/add_url" role="form")
          .form-group
            label name:
            input.form-control(name="name" class="name" placeholder="请输入name 全英文")
          .form-group
            label url：
            .input-group
              i.glyphicon.glyphicon-hand-right.input-group-addon
              input.form-control(name="url" class="url" placeholder="请输入url")
          .form-group
            label data:
            textarea.form-control(rows="20" name="data")

          input.btn.btn-primary(type="submit")
